<div class="card flex justify-content-center">
    <p-stepper style="flex-basis: 80rem">
        <p-stepperPanel header="Cliente">
            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                <app-cliente-painel></app-cliente-painel>
                <div class="flex pt-4 justify-content-end">
                    <p-button [raised]="true" label="Próximo" icon="pi pi-arrow-right" iconPos="right"
                              (onClick)="nextCallback.emit()"/>
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Procedimento">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                         let-index="index">
                <app-procedimento-painel></app-procedimento-painel>
                <div class="flex pt-4 justify-content-between">
                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()"/>
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()"/>
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Outros">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                <app-outros-painel></app-outros-painel>
                <div class="flex pt-4 justify-content-start">
                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()"/>
                </div>
            </ng-template>
        </p-stepperPanel>
    </p-stepper>
</div>
