<div class="card">
    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-user mr-2"></i>
            <b>Número e Data</b>
        </div>
    </p-divider>
    <div class="flex-auto">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-6">
                <label for="ctr-numero">Número da CTR</label>
                <p-inputNumber id="ctr-numero" [(ngModel)]="ctr.numero" mode="decimal" inputId="withoutgrouping"
                               [useGrouping]="false"></p-inputNumber>
            </div>
            <div class="field col-6">
                <label for="data">Data Inicio</label>
                <p-calendar id="data" [(ngModel)]="ctr.data" dateFormat="dd/mm/yy" [maxDate]="ctr.data"
                            [showIcon]="true" inputId="icon">
                </p-calendar>
            </div>
        </div>
    </div>
    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-user mr-2"></i>
            <b>Transportadora</b>
        </div>
    </p-divider>
    <div class="flex-auto">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-6">
                <label for="transportadora">Transportadora</label>
                <app-auto-complete
                    id="transportadora"
                    [service]="transportadoraService"
                    (dataSelected)="onTransportadorSelecionado($event)">
                </app-auto-complete>
            </div>
            <div class="field col-6">
                <label for="veiculo">Veiculo</label>
                <app-auto-complete
                    id="veiculo"
                    [service]="veiculoService"
                    (dataSelected)="onVeiculoSelecionado($event)">
                </app-auto-complete>
            </div>
            <div class="field col-6">
                <p>Motorista</p>
            </div>
        </div>
    </div>

    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-user mr-2"></i>
            <b>Gerador</b>
        </div>
    </p-divider>
    <p>Gerador</p>
    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-user mr-2"></i>
            <b>Destinatario</b>
        </div>
    </p-divider>
    <p>Destinatario</p>
    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-user mr-2"></i>
            <b>Discarte</b>
        </div>
    </p-divider>
    <p>Discarte</p>
    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-user mr-2"></i>
            <b>Pagamento</b>
        </div>
    </p-divider>
    <p>Pagamento</p>
</div>
