<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <p-card header="Pagamentos">
            <app-filtro
                [instituicaoBancariaService]="instituicaoBancariaService"
                [formaPagamentoService]="formaPagamentoService"
                [transportadoraService]="transportadoraService"
                (filtroHandler)="onFiltroAplicadoHandler($event)"
            >
            </app-filtro>
            <app-lista
            [pagamentos]="pagamentos"
            [loading]="loading"
            (dialogEditarPagamentoHandler)="pagamentoParaEdicao = $event; informarPagamentoDialog = true"
            >
            </app-lista>
            <p-paginator (onPageChange)="pageChange($event)" [rowsPerPageOptions]="rowsPerPage"
                         [totalRecords]="totalElements" [first]="first" [rows]="rows"></p-paginator>
        </p-card>
    </div>
</div>

<app-editar-pagamento-dialog [pagamento]="pagamentoParaEdicao"
                             [isVisivel]="informarPagamentoDialog"
                             (pagamentoAtualizadoHandler)="loadDatas()" >
</app-editar-pagamento-dialog>
