<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Pagamentos</h5>
            <p-toast></p-toast>
            <p-table
                styleClass="p-datatable-gridlines"
                [value]="pagamentos"
                dataKey="name"
                responsiveLayout="scroll"
                [loading]="loading">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="status">Ativo
                            <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dataPagamento">Data Pagamento
                            <p-sortIcon field="dataPagamento"></p-sortIcon>
                        </th>
                        <th pSortableColumn="transportadora">Transportadora
                            <p-sortIcon field="transportadora"></p-sortIcon>
                        </th>
                        <th pSortableColumn="valor">Valor
                            <p-sortIcon field="valor"></p-sortIcon>
                        </th>
                        <th pSortableColumn="formaPagamento">Forma Pagamento
                            <p-sortIcon field="formaPagamento"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tipoPagamento">Tipo Pagamento
                            <p-sortIcon field="tipoPagamento"></p-sortIcon>
                        </th>
                        <th pSortableColumn="iBancaria">Instituição Bancária
                            <p-sortIcon field="iBancaria"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pagamento>
                    <tr>
                        <td style="min-width: 5rem;">{{pagamento.ativo}}</td>
                        <td style="min-width: 10rem;">{{pagamento.ctr !== null ?  pagamento.ctr.transportador.nome : pagamento.combo.transportador.nome}}</td>
                        <td style="min-width: 10rem;">{{pagamento.dataPagamento | date: 'dd/MM/YYYY'}}</td>
                        <td style="min-width: 8rem;">{{pagamento.valor | currency:'BRL'}}</td>
                        <td style="min-width: 12rem;">
                            <p-button styleClass="p-button-link left"
                                      (onClick)="showDialog(pagamento.id)">{{pagamento.formaPagamento.nome}}</p-button>
                        </td>
                        <td style="min-width: 5rem;">{{pagamento.ctr !== null && pagamento.ctr.id !== null ? 'CTR: ' + pagamento.ctr.numero : 'Combo'}}</td>
                        <td style="min-width: 8rem;">{{pagamento.instituicaoBancaria.nome}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <p-paginator (onPageChange)="pageChange($event)" [rowsPerPageOptions]="rowsPerPage" [totalRecords]="totalElements" [first]="first" [rows]="rows"></p-paginator>
        </div>
    </div>
</div>

<p-dialog [(visible)]="informarPagamentoDialog" [style]="{width: '550px', height: '700px'}" header="Informar Pagamento"
          [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label htmlFor="forma-pagamento">Forma de Pagamento</label>
            <app-auto-complete id="forma-pagamento" [service]="getFomaPagamentoService()"
                               (clear)="pagamento.formaPagamento = {id: '', nome: ''}"
                               (dataSelected)="onFormaPagamentoSelecionado($event)"></app-auto-complete>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !pagamento.formaPagamento?.id">Forma de Pagamento
                precisa ser informado</small>
        </div>
        <div class="field">
            <label htmlFor="iBancaria">Instituição Bancária</label>
            <app-auto-complete id="iBancaria" [service]="getInstituicaoBancariaService()"
                               (clear)="pagamento.instituicaoBancaria = {id: '', nome: ''}"
                               (dataSelected)="onIBancariaSelecionado($event)"></app-auto-complete>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !pagamento.instituicaoBancaria?.id">Instituição
                Bancária
                precisa ser informada</small>
        </div>
        <div class="field">
            <label for="dataDe">Data Pagamento</label>
            <p-calendar id="dataDe" [(ngModel)]="pagamento.dataPagamento" dateFormat="dd/mm/yy"
                        (selectionchange)="atualizarDataDe($event)" [maxDate]="maxDate"
                        (onSelect)="atualizarDataDe($event)" [showIcon]="true" inputId="icon">
            </p-calendar>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="onDialogCancel()"></button>
        <button [disabled]="!isPodeSalvar()" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="onDialogSave()"></button>
    </ng-template>
</p-dialog>
