<div class="flex justify-content-end h-4rem flex-wrap">
    <p-button severity="warning" [raised]="true" label="Alterar" icon="pi pi-user-edit" iconPos="right"
              (onClick)="edit = !edit"/>
</div>
<div class="flex flex-column" *ngIf="!edit">
    <div class="border-2 border-dashed surface-border border-round surface-ground justify-content-between flex font-medium">
        <div class="flex align-items-center justify-content-center border-round m-2">
            <ul class="list-none p-5 m-5">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Nome:</span>
                        <div class="mt-1 text-600">{{contato.nome}}</div>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Telefone:</span>
                        <div class="mt-1 text-600">{{contato.numero}}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flex align-items-center justify-content-center border-round m-2">
            <ul class="list-none p-5 m-5">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Genero:</span>
                        <div class="mt-1 text-600">{{contato.genero == 'M' ? 'Masculino' : 'Feminimo'}}</div>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Idade:</span>
                        <div class="mt-1 text-600">{{getIdade(contato.dataNascimento)}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

