<div class="flex justify-content-end h-4rem flex-wrap">
    <p-button severity="success" [raised]="true" label="Incluir" icon="pi pi-plus" iconPos="right"
              (onClick)="edit = !edit"/>
</div>
<div class="flex flex-column" *ngIf="!edit">
    <div *ngFor="let proc of procedimentos"
         class="border-2 border-dashed surface-border border-round surface-ground justify-content-between flex font-medium">
        <div class="flex align-items-center justify-content-center border-round m-2">
            <ul class="list-none p-5 m-5">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Procedimento:</span>
                        <div class="mt-1 text-600">{{ proc.nome }}</div>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Data:</span>
                        <div class="mt-1 text-600">{{ proc.date }}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flex align-items-center justify-content-center border-round m-2">
            <ul class="list-none p-5 m-5">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Valor:</span>
                        <div class="mt-1 text-600">{{ proc.valor }}</div>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Grau Satisfação:</span>
                        <!--                        <div class="mt-1 text-600" >-->
                        <div class="mt-1 text-600">
                            <span *ngFor="let i of [0,1,2,3,4]; let index = index">
                                @if (index < proc.satisfacao) {
                                    <i class="pi pi-star-fill text-yellow-500 mr-1 text-2xl"></i>
                                } @else {
                                    <i class="pi pi-star-fill text-300 text-2xl"></i>
                                }
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flex align-items-center justify-content-center border-round m-2">
            <ul class="list-none p-5 m-5">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Motivação:</span>
                        <div class="mt-1 text-600">{{ proc.motivacao }}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flex justify-content-start h-3rem flex-wrap">
            <a href="#">Alterar</a>
        </div>
    </div>
</div>
