<div class="flex justify-content-end h-4rem flex-wrap">
    <p-button severity="success" [raised]="true" label="Incluir" icon="pi pi-plus" iconPos="right"
              (onClick)=incluir()>
    </p-button>
</div>
<div class="flex flex-column" *ngIf="!edit">
    <div *ngFor="let proc of procedimentos"
         class="border-2 max-h-12rem border-dashed surface-border border-round surface-ground justify-content-between flex font-medium">
        <div class="flex align-items-center justify-content-center border-round m-2">
            <ul class="list-none p-5 m-5">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">ProcedimentoModel:</span>
                        <div *ngFor="let procedimento of proc.procedimentos">
                            <p-tag severity="info" [value]="procedimento.name"></p-tag>
                        </div>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Data:</span>
                        <div class="mt-1 text-600">{{ proc.date | date: 'dd/MM/yyyy'}}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flex align-items-center justify-content-center border-round m-2">
            <ul class="list-none p-5 m-5">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Valor:</span>
                        <div class="mt-1 text-600">{{ proc.valor | currency: 'BRL': true}}</div>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Grau Satisfação:</span>
                        <!--                        <div class="mt-1 text-600" >-->
                        <div class="mt-1 text-600">
                            <span *ngFor="let i of [0,1,2,3,4]; let index = index">
                                @if (index < proc.satisfacao) {
                                    <i class="pi pi-star-fill text-yellow-500 mr-1 text-2xl"></i>
                                } @else {
                                    <i class="pi pi-star-fill text-300 text-2xl"></i>
                                }
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flex align-items-center justify-content-center border-round m-2">
            <ul class="list-none p-5 m-5 flex-wrap">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Motivação:</span>
                        <div class="mt-1 text-600">{{ proc.motivacao }}</div>
                    </div>
                </li>
            </ul>
            <div class="justify-content-start h-3rem flex-wrap">
                <a (click)="editar(proc)">Alterar</a>
            </div>
        </div>

    </div>
</div>
<p-dialog
          appendTo="body"
          header="Header"
          closable="true"
          [modal]="true"
          [blockScroll]="true"
          [(visible)]="visible"
          [style]="{ width: '80vw', height: '25vw'}"
          [maximizable]="true">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Informar Novo ProcedimentoModel</span>
        </div>
    </ng-template>
    <ng-template class="absolute" pTemplate="body">
        <div class="grid formgrid p-fluid">
            <div class="field mb-4 col-12 md:col-6">
                <label for="nome" class="font-medium text-900">Procedimentos</label>
                <p-multiSelect appendTo="body" tooltipPosition="bottom" id="nome" [options]="tiposProcedimentos" [(ngModel)]="procedimento.procedimentos"
                               placeholder="Selecione os Procedimentos"
                               optionLabel="name" display="chip" [showClear]="true"></p-multiSelect>
            </div>
            <div class="field mb-6 col-12 md:col-6">
                <label for="customer_name" class="font-medium text-900">Motivação</label>
                <input id="customer_name" type="text" [(ngModel)]="procedimento.motivacao" pInputText>
            </div>
            <div class="field mb-6 col-12 md:col-5">
                <label for="due_date" class="font-medium text-900">Data</label>
                <p-calendar appendTo="body" id="due_date" [(ngModel)]="procedimento.date" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
            </div>
            <div class="field mb-6 col-6 md:col-5">
                <label for="valor" class="font-medium text-900">Valor</label>
                <div class="flex">
                    <p-inputNumber [(ngModel)]="procedimento.valor" id="valor" mode="currency" currency="BRL" inputId="item" type="text"
                                   class="flex-1"></p-inputNumber>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-danger p-button-text ml-2"></button>
                </div>
            </div>
            <div class="field mb-6 col-12 md:col-2">
                <label for="satisfacao" class="font-medium text-900">Nível de Satisfação</label>
                <div class="flex align-content-center">
                    <p-rating id="satisfacao" [(ngModel)]="procedimento.satisfacao" [cancel]="false"></p-rating>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-between flex-wrap">
            <p-button [raised]="true" class="flex w-9rem h-3rem" icon="pi pi-check" (click)="visible = false"
                      label="Cancelar"
                      pAutoFocus [autofocus]="false"
                      severity="warning"></p-button>
            <p-button [raised]="true" class="flex w-9rem h-3rem" icon="pi pi-check" (click)="salvar()"
                      label="Salvar" pAutoFocus
                      [autofocus]="false"
                      severity="success"></p-button>

        </div>
    </ng-template>
</p-dialog>
